/* Reset some default styles and set a background color */
/*body, h1, p {
    margin: 0 10px;
    padding: 1;
}*/
@font-face {
    font-family: Roboto;
    src: url ./Custom-Fonts/Roboto-Black.ttf;
    src: url ./Custom-Fonts/Roboto-LightItalic.ttf;
}

body {
    background-color: #f0f0f0;
    font-family: Roboto, Arial, sans-serif;
}

/* Style the header */
.header-bar {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar .logo {
    font-size: 24px;
    font-weight: 800;
}

nav {
    display: flex;
    margin-top: 20px;
}

nav p {
    margin: 0 10px; /* Add some spacing between the navigation links */
}

.mediumbox {
    max-width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.mediumbox p {
    padding: 0px;
}

.no-border {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto, Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

.darkblue-background {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 15px;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.flexitem {
    margin: 10px;
    padding: 20px;
}

.alignleft {
    text-align: left;
    font-weight: 200;
    padding-right: 20px 0;
}

.alignright {
    text-align: right;
    font-weight: 300;
}

.grey-box {
    background-color: #777777;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border: 45px solid #777777;
    border-left-width: 80px;
    text-align: right;
}

.image-placeholder {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
    width: max-content;
}

.white-background {
    background-color: #fff;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    padding-bottom: 80px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.blue-squares {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: auto;
    flex-direction: row;
}

.square {
    border: 3px solid #3882F6;
    color: #fff;
    width: 55px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.box-content {
    background-color: #fff; 
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px; 
}

.text-content {
    text-align: center;
    margin-top: 10px; 
    color: #1F2937;
    width: 150px;
}

p {
    margin: 0;
}

.grey-background {
    background-color: #E5E7EB;
    padding: 50px;

}

.quote {
    font-style: italic;
    align-content: center;
    font-weight: 300;
    margin-left: 100px;
    margin-right: 100px;
}

.thor {
    text-align: right;
    font-weight: bold;
    padding-right: 130px;
}

.blue-background {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    width: 900px;
    height: 180px;
}

.action {
    font-weight: bolder;
    font-size: medium;
}

.clicking {
    font-weight: lighter;
    font-size: small;
}

.with-border {
    background-color: transparent;
    color: #E5E7EB;
    border-style: 1px solid #fff;
    border-color: #F9FAF8;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px 20px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    font-weight: 200;
}