/* Reset some default styles and set a background color */
/*body, h1, p {
    margin: 0 10px;
    padding: 1;
}*/

body {
    background-color: #f0f0f0;
    font-family: Roboto, Arial, sans-serif;
}

/* Style the header */
.header-bar {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar .logo {
    font-size: 24px;
    font-weight: 800;
}

nav {
    display: flex; /* Display the navigation links as flex items */
    margin-top: 20px;
}

nav p {
    margin: 0 10px; /* Add some spacing between the navigation links */
}

.mediumbox {
    max-width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.mediumbox p {
    padding: 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto, Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

.darkblue-background {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
}

.flexitem {
    margin: 10px;
    padding: 20px;
}

.alignleft {
    text-align: left;
    font-weight: 200;
    padding-right: 20px 0;
}

.alignright {
    text-align: auto;
    font-weight: 300;
}

.grey-box {
    background-color: #777777;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border: 45px solid #777777;
    border-left-width: 80px;
    text-align: right;
}

.image-placeholder {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
    width: max-content;
}

.white-background {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.blue-squares {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.square {
    border: 3px solid #3882F6; /* Blue border */
    color: #fff;
    width: 15%; /* Adjust the width of squares as needed */
    padding: 20px;
    border-radius: 15px; /* Adjust border-radius for rounded corners */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* Adjust the margin to make them closer together */
}

.box-content {
    background-color: #fff; /* White background inside the boxes */
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px; /* Adjust the margin as needed */
}

p {
    margin: 0;
}